<div class="loader-backdrop">           <!-- Pre Loader -->
    <div class="loader">
        <span class="dot dot1"></span>
        <span class="dot dot2"></span>
        <span class="dot dot3"></span>
        <span class="dot dot4"></span>
    </div>
</div>

<header>
    <!-- Navigation Bar-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                            <i class="ion-ios-more-outline"></i>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <%= image_tag("clarity-logo-sm.png", alt:"logo", class:"img-responsive", width:"200px;") %>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="navigation">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#features" class="scroll-link">Services</a>
                            </li>
                            <li>
                                <a href="#about" class="scroll-link">About</a>
                            </li>
                            <li>
                                <a href="#contact" class="scroll-link">Contact</a>
                            </li>
                            <!-- <li>
                                <a href="#" class="btn-menu scroll-link">Login</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Hero Section Style 3 -->
<section class="hero-3" id="home" style="background-image: url(<%= image_url('colorful-couch.jpg') %>);height:750px;background-position: 50% 40%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-box">
                    <h1 class="hero-heading text-center">Not the waterfront home you imagined?</h1>
                    <p class="hero-text text-center hidden-xs hidden-sm">Our goal is to simplify the claims process, providing a clear path to closure for the insured.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<section class="bgcolor3 pt-100 pb-80" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-box">
                    <h2>Services</h2>
                    <p class="sub-heading">With adjusters nationwide, we're equipped and always ready to handle all of your claim needs and more.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-1">
                    <div class="icon">
                        <i class="ion-ios-settings"></i>
                    </div>
                    <h4>Adjusting</h4>
                    <p>We handle claims with loyalty, empathy and ethics.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-1">
                    <div class="icon">
                        <i class="ion-ios-loop"></i>
                    </div>
                    <h4>3rd Party Estimating</h4>
                    <p>Meticulous attention to detail is a Clarity promise.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-1">
                    <div class="icon">
                        <i class="ion-ios-search"></i>
                    </div>
                    <h4>3rd Party Claim Review</h4>
                    <p> Too much on your plate, we’d be glad to help.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-1">
                    <div class="icon">
                        <i class="ion-ios-bookmarks-outline"></i>
                    </div>
                    <h4>Litigation Review</h4>
                    <p>Providing clear timely answers, helping to reduce legal cost.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-1">
                    <div class="icon">
                        <i class="ion-laptop"></i>
                    </div>
                    <h4>Training</h4>
                    <p>We focus on developing talented individuals, so they can perform at the level required for this dynamically changing environment.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-1">
                    <div class="icon">
                        <i class="ion-ios-people-outline"></i>
                    </div>
                    <h4>Consulting</h4>
                    <p>Providing experienced based solutions in multiple areas of the industry.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<section class="pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-box">
                    <h2>More Awesome Features</h2>
                    <p class="sub-heading">Using technology to evolve the claims process.</p>
                </div>
            </div>
            <div class="col-md-6 mt-20">
                <%= image_tag("adjust-tablet.jpg", class:"img-responsive", alt:"") %>
            </div>
            <div class="col-md-6 mt-20">
                <ul class="features">
                    <li>
                        <div class="icon">
                            <i class="ion-ios-cloud-outline"></i>
                        </div>
                        <div class="features-body">
                            <h6 class="heading">Cloud</h6>
                            <p>providing access to our team anywhere there’s an internet connection.</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="ion-ios-speedometer-outline"></i>
                        </div>
                        <div class="features-body">
                            <h6 class="heading">Claim Automation</h6>
                            <p>Getting more work done onsite with our custom apps.</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="ion-ios-locked-outline"></i>
                        </div>
                        <div class="features-body">
                            <h6 class="heading">Security</h6>
                            <p>We have advanced encryption protecting your Personal Intellectual Information (PII).</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<!-- <section class="pt-100 pb-80 bgcolor3" id="ratings">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-box">
                    <h2>Average Customer Ratings</h2>
                    <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rating-box">
                    <ul class="star-rating">
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star-half"></i></li>
                        <li><i class="ion-ios-star-outline"></i></li>
                    </ul>
                    <br/>
                    <%= image_tag("rating-amazon.png", class:"rating-source", alt:"") %>
                    <div class="rating-count">9734 Reviews</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rating-box">
                    <ul class="star-rating">
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star-outline"></i></li>
                    </ul>
                    <br/>
                    <%= image_tag("rating-infibeam.png", class:"rating-source", alt:"") %>
                    <div class="rating-count">2371 Reviews</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rating-box">
                    <ul class="star-rating">
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star"></i></li>
                        <li><i class="ion-ios-star"></i></li>
                    </ul>
                    <br/>
                    <%= image_tag("rating-gamestop.png", class:"rating-source", alt:"") %>
                    <div class="rating-count">539 Reviews</div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Section -->
<section class="pt-100 pb-100 bgcolor3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-box">
                    <h2>Helpful Links</h2>
                    <p class="sub-heading">Don't know what to do next? We can help.</p>
                </div>
            </div>
            <div class="col-md-6 mt-20">
                <%= image_tag("boots-on-ground.png", class:"img-responsive", alt:"") %>
            </div>
            <div class="col-md-6 mt-20">
                <!-- <p class="lead">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p> -->
                <ul class="list-default">
                    <li><%= link_to "Information for Policy Holders", "https://www.fema.gov/information-policyholders", target:"_blank" %></li>
                    <li><%= link_to "NFIP Technical Support Hotline", "https://www.fema.gov/national-flood-insurance-program-technical-support-hotline", target:"_blank" %></li>
                    <li><%= link_to "Standard Flood Insurance Policy Forms", "https://www.fema.gov/national-flood-insurance-program/standard-flood-insurance-policy-forms", target:"_blank" %></li>
                    <li><%= link_to "Disaster Recovery Centers", "https://www.fema.gov/disaster-recovery-centers", target:"_blank" %></li>
                    <li><%= link_to "Information for Adjusters", "https://www.fema.gov/information-claims-adjusters", target:"_blank" %></li>
                    <li><%= link_to "National Flood Insurance Program", "https://www.fema.gov/National-Flood-insurance-program", target:"_blank" %></li>
                </ul>
                <!-- <a href="" class="btn btn-primary">Read More</a> -->
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<!-- <section class="pt-100 pb-100" style="background-image: url(<%= image_url('light-bg.jpg') %>); background-position: center 30%; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="counter-box">
                    <div class="counter-body">
                        <div class="icon"><i class="ion-ios-timer-outline"></i></div>
                        <h3 class="count" data-to="5470802">0</h3>
                        <div class="text">Units sold</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Section -->
<!-- <section class="pt-100 pb-80" id="process">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-box">
                    <h2>Booking Process</h2>
                    <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="process-box">
                    <div class="process-header">
                        1
                    </div>
                    <div class="process-body">
                        <h5 class="heading">Refer headset to friend</h5>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="process-box">
                    <div class="process-header">
                        2
                    </div>
                    <div class="process-body">
                        <h5 class="heading">Get Scratch coupon</h5>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="process-box">
                    <div class="process-header">
                        3
                    </div>
                    <div class="process-body">
                        <h5 class="heading">Get extended warranty</h5>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Section -->
<!-- <section class="bgcolor3 pt-100 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-box">
                    <h2>Featured By Leaders</h2>
                    <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="logo-box">
                    <%= image_tag("logo-1.jpg", alt:"") %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="logo-box">
                    <%= image_tag("logo-2.jpg", alt:"") %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="logo-box">
                    <%= image_tag("logo-6.jpg", alt:"") %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="logo-box">
                    <%= image_tag("logo-8.jpg", alt:"") %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="logo-box">
                    <%= image_tag("logo-4.jpg", alt:"") %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="logo-box">
                    <%= image_tag("logo-3.jpg", alt:"") %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="logo-box">
                    <%= image_tag("logo-5.jpg", alt:"") %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="logo-box">
                    <%= image_tag("logo-7.jpg", alt:"") %>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Section -->
<section class="pt-100 pb-100" id="testimonials" style="background-image: url(<%= image_url('family-home.jpg') %>);background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-box left">
                    <!-- <h2 class="white">People Show Love</h2>
                    <p class="sub-heading white">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p> -->
                </div>
            </div>
            <div class="col-md-6" style="margin-top:160px;">
                <div class="testimonial-slider">
                    <div class="slider-items owl-carousel">
                        <div>
                            <div class="testimonial-box">
                                <div class="testimonial-img">
                                    <%= image_tag("customer-2.jpg", class:"img-circle", alt:"") %>
                                </div>
                                <span class="testimonial-by">
                                    Callum Grant
                                </span>
                                <div class="testimonial-body">
                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts.</p>
                                </div>

                            </div>
                        </div>
                        <div>
                            <div class="testimonial-box">
                                <div class="testimonial-img">
                                    <%= image_tag("customer-1.jpg", class:"img-circle", alt:"") %>
                                </div>
                                <span class="testimonial-by">
                                    Jonathan Andre
                                </span>
                                <div class="testimonial-body">
                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<!-- <section class="pt-100 pb-80 bgcolor3" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-box">
                    <h2>Affordable Plans</h2>
                    <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-box">
                    <div class="pricing-header">
                        <div class="plan-name">Student</div>
                        <div class="price">$199</div>
                        <div class="plan-tenure">One time cost</div>
                    </div>
                    <hr/>
                    <div class="pricing-body">
                        <ul>
                            <li><i class="ion-ios-cloud-outline"></i> 20GB Cloud storage</li>
                            <li><i class="ion-ios-gear-outline"></i> On-site free service</li>
                            <li><i class="ion-ios-locked-outline"></i> 2 year insurance</li>
                            <li><i class="ion-ios-shuffle"></i> 2.6GHZ Processor</li>
                            <li><i class="ion-ios-videocam-outline"></i> Access to Movies</li>
                        </ul>
                    </div>
                    <a href="" class="btn btn-primary">Get this</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-box popular">
                    <div class="pricing-header">
                        <div class="plan-name">Startup</div>
                        <div class="price">$249</div>
                        <div class="plan-tenure">One time cost</div>
                    </div>
                    <hr/>
                    <div class="pricing-body">
                        <ul>
                            <li><i class="ion-ios-cloud-outline"></i> 20GB Cloud storage</li>
                            <li><i class="ion-ios-gear-outline"></i> On-site free service</li>
                            <li><i class="ion-ios-locked-outline"></i> 2 year insurance</li>
                            <li><i class="ion-ios-shuffle"></i> 2.6GHZ Processor</li>
                            <li><i class="ion-ios-videocam-outline"></i> Access to Movies</li>
                        </ul>
                    </div>
                    <a href="" class="btn btn-primary">Get this</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-box">
                    <div class="pricing-header">
                        <div class="plan-name">Business</div>
                        <div class="price">$299</div>
                        <div class="plan-tenure">One time cost</div>
                    </div>
                    <hr/>
                    <div class="pricing-body">
                        <ul>
                            <li><i class="ion-ios-cloud-outline"></i> 20GB Cloud storage</li>
                            <li><i class="ion-ios-gear-outline"></i> On-site free service</li>
                            <li><i class="ion-ios-locked-outline"></i> 2 year insurance</li>
                            <li><i class="ion-ios-shuffle"></i> 2.6GHZ Processor</li>
                            <li><i class="ion-ios-videocam-outline"></i> Access to Movies</li>
                        </ul>
                    </div>
                    <a href="" class="btn btn-primary">Get this</a>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Section -->
<section class="pt-100 pb-80" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-box">
                    <h2>About Us</h2>
                    <p class="sub-heading">At Clarity Insurance Services we pride ourselves on going above and beyond for our customers.  This means that we provide a hands on delicate touch for flood victims throughout the claims process. Our 24-Hr Claims departments and customer service center ensures that home owners, and our partners can get an up to date, accurate status on their claim in real time. At Clarity we understand how important closure is for our customers, that’s why “we aim to bring clarity to the claims process”.</p>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="member-box">
                    <%= image_tag("team-1.jpg", class:"img-rounded", alt:"") %>
                    <h6 class="heading">Justin Goethals</h6>
                    <span class="text-muted">CEO, Clarity Insurance Services</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="member-box">
                    <%= image_tag("team-2.jpg", class:"img-rounded", alt:"") %>
                    <h6 class="heading">Ross Haynes</h6>
                    <span class="text-muted">Business Op, Clarity Insurance Services</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="member-box">
                    <%= image_tag("team-3.jpg", class:"img-rounded", alt:"") %>
                    <h6 class="heading">Dustin Rhodes</h6>
                    <span class="text-muted">Operations, Clarity Insurance Services</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="member-box">
                    <%= image_tag("team-2.jpg", class:"img-rounded", alt:"") %>
                    <h6 class="heading">Michael Rumpke</h6>
                    <span class="text-muted">Support, Clarity Insurance Services</span>
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- Section -->
<!-- <section class="bgcolor3 pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Ready to talk?</h3>
                <p class="nom">Clarity is here to provide you with more information, answer any questions you may have and always provide you with effective solutions that meet your needs.</p>
            </div>
            <div class="col-md-4">
                <br>
                <a href="#contact" class="btn btn-primary btn-lg scroll-link">Contact Us Now!</a>
            </div>
        </div>
    </div>
</section> -->

<!-- Section -->
<!--
<section class="pt-100 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-box">
                    <h2>Related Links</h2>
                    <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-group accordion" id="a1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="a1heading1">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#a1" href="#a1body1" aria-expanded="true" aria-controls="a1body1">
                                    <i class="ion-ios-toggle-outline"></i> How should I configure it correctly?
                                </a>
                            </h4>
                        </div>
                        <div id="a1body1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a1heading1">
                            <div class="panel-body">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="a1heading2">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#a1" href="#a1body2" aria-expanded="false" aria-controls="a1body2">
                                    <i class="ion-ios-color-wand-outline"></i> What features does it offer over others?
                                </a>
                            </h4>
                        </div>
                        <div id="a1body2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="a1heading2">
                            <div class="panel-body">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="a1heading3">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#a1" href="#a1body3" aria-expanded="false" aria-controls="a1body3">
                                    <i class="ion-ios-people-outline"></i> There is delay in my video playback?
                                </a>
                            </h4>
                        </div>
                        <div id="a1body3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a1heading3">
                            <div class="panel-body">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<!-- Section -->
<section class="pt-100 pb-100" style="background-image: url(<%= image_url('gray-couch.jpg') %>); background-position: center center;background-position: 50% 40%;background-size: cover;" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="background-color: rgba(0,0,0,.78); padding:50px; border-radius:4px;">
                <div>
                    <h3 class="white">Shoot us a message</h3>
                </div>
                <p class="white">We appreciate and welcome all of your questions, feedback and comments and try to respond within 24-48 hours.</p>
                <br/>
                <form>
                    <div class="form-group">
                        <input class="form-control mb-10" id="example-text-input-inline" type="text" placeholder="Leave your name here">
                        <input class="form-control mb-10" id="example-text-input-inline" type="text" placeholder="... email here">
                        <textarea class="form-control mb-10" id="example-text-input-inline" placeholder="... and your message here" rows="4"></textarea>
                    </div>
                    <div class="g-recaptcha mb-20" data-sitekey="6Lfysx4UAAAAAODqXNV-F8Luh-mDFyQFbc6TatQM"></div>
                    <button class="btn btn-primary" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Back To Top Button -->
<a href="#home" id="backHome" class="scroll-link"><i class="ion-ios-home-outline"></i></a>
