<%= form_for(auth) do |f| %>
  <% if auth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth.errors.count, "error") %> prohibited this auth from being saved:</h2>

      <ul>
      <% auth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :create %>
    <%= f.text_field :create %>
  </div>

  <div class="field">
    <%= f.label :destroy %>
    <%= f.text_field :destroy %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
