<p id="notice"><%= notice %></p>

<p>
  <strong>Create:</strong>
  <%= @auth.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @auth.destroy %>
</p>

<%= link_to 'Edit', edit_auth_path(@auth) %> |
<%= link_to 'Back', auths_path %>
