
    <div class="loader-backdrop">           <!-- Pre Loader -->
        <div class="loader">
            <span class="dot dot1"></span>
            <span class="dot dot2"></span>
            <span class="dot dot3"></span>
            <span class="dot dot4"></span>
        </div>
    </div>

    <header>
       <!-- Navigation Bar-->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                                <i class="ion-ios-more-outline"></i>
                            </button>
                            <a class="navbar-brand" href="index.html">
                                <%= image_tag("logo.png", alt:"")%>
                            </a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="navigation">
                            <ul class="nav navbar-nav">          <!-- Menu -->
                                <li>
                                    <a href="#features" class="scroll-link">Features</a>          <!-- Menu Item -->
                                </li>
                                <li>
                                    <a href="#ratings" class="scroll-link">Ratings</a>          <!-- Menu Item -->
                                </li>
                                <li>
                                    <a href="#process" class="scroll-link">Process</a>          <!-- Menu Item -->
                                </li>
                                <li>
                                    <a href="#testimonials" class="scroll-link">Testimonials</a>          <!-- Menu Item -->
                                </li>
                                <li>
                                    <a href="#about" class="scroll-link">About</a>          <!-- Menu Item -->
                                </li>
                                <li>
                                    <a href="#pricing" class="btn-menu scroll-link">Buy Now</a>          <!-- Menu Button -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Hero Section Style 8 -->
    <section class="hero-8" id="home" style="background-image: url(<%= image_url('colorful-couch.jpg') %>);height:750px;background-position: 50% 50%;background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 mb-60">
                    <div class="hero-box">
                        <h1 class="hero-heading" style="color:#fff;">We Bring Clarity To <span class="color1">Chaos.</span></h1>

                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="features">
                        <li>
                            <div class="icon">
                                <i class="ion-ios-color-filter-outline"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">See every Color</h6>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="features">
                        <li>
                            <div class="icon">
                                <i class="ion-ios-speedometer-outline"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">High Refresh Rate</h6>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="features">
                        <li>
                            <div class="icon">
                                <i class="ion-ios-color-filter-outline"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">See every Color</h6>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="bgcolor3 pt-100 pb-80" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Amazingly Powerful Features</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-game-controller-b-outline"></i>
                        </div>
                        <h4>Realistic Gaming</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-mic-outline"></i>
                        </div>
                        <h4>Built-in Mic</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-settings"></i>
                        </div>
                        <h4>Fully Cutomizable</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-cloud-upload-outline"></i>
                        </div>
                        <h4>Free Cloud Storage</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-unlocked-outline"></i>
                        </div>
                        <h4>Child Lock</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-color-filter-outline"></i>
                        </div>
                        <h4>16 Million Colors</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>More Awesome Features</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-20">
                    <%= image_tag("product-shot-2.png", class:"img-responsive", alt:"")%>
                </div>
                <div class="col-md-6 mt-20">
                    <ul class="features">
                        <li>
                            <div class="icon">
                                <i class="ion-ios-monitor-outline"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">Ultra HD Display</h6>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ion-ios-speedometer-outline"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">High Refresh Rate</h6>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ion-ios-color-filter-outline"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">See every Color</h6>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="pt-100 pb-80 bgcolor3" id="ratings">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Average Customer Ratings</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="rating-box">
                        <ul class="star-rating">
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star-half"></i></li>
                            <li><i class="ion-ios-star-outline"></i></li>
                        </ul>
                        <br/>
                        <%= image_tag("rating-amazon.png", class:"rating-source", alt:"")%>
                        <div class="rating-count">9734 Reviews</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="rating-box">
                        <ul class="star-rating">
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star-outline"></i></li>
                        </ul>
                        <br/>
                        <%= image_tag("rating-infibeam.png", class:"rating-source", alt:"")%>
                        <div class="rating-count">2371 Reviews</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="rating-box">
                        <ul class="star-rating">
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                        </ul>
                        <br/>
                        <%= image_tag("rating-gamestop.png", class:"rating-source", alt:"")%>
                        <div class="rating-count">539 Reviews</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>What's so special</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-20">
                    <%= image_tag("product-shot-3.jpg", class:"img-responsive", alt:"")%>
                </div>
                <div class="col-md-6 mt-20">
                    <p class="lead">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                    <ul class="list-default">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed do eiusmod tempor incididunt ut labore et dolore magna.</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                    <a href="" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="pt-100 pb-100" style="background-image: url(<%= image_url('light-bg.jpg')%>); background-position: center 30%; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="counter-box">
                        <div class="counter-body">
                            <div class="icon"><i class="ion-ios-timer-outline"></i></div>
                            <h3 class="count" data-to="5470802">0</h3>
                            <div class="text">Units sold</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="pt-100 pb-80" id="process">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Booking Process</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <div class="process-header">
                            1
                        </div>
                        <div class="process-body">
                            <h5 class="heading">Refer headset to friend</h5>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <div class="process-header">
                            2
                        </div>
                        <div class="process-body">
                            <h5 class="heading">Get Scratch coupon</h5>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <div class="process-header">
                            3
                        </div>
                        <div class="process-body">
                            <h5 class="heading">Get extended warranty</h5>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="bgcolor3 pt-100 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Featured By Leaders</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <%= image_tag("logo-1.jpg", alt:"")%>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <%= image_tag("logo-2.jpg", alt:"")%>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <%= image_tag("logo-6.jpg", alt:"")%>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <%= image_tag("logo-8.jpg", alt:"")%>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <%= image_tag("logo-4.jpg", alt:"")%>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <%= image_tag("logo-3.jpg", alt:"")%>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <%= image_tag("logo-5.jpg", alt:"")%>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <%= image_tag("logo-7.jpg", alt:"")%>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="pt-100 pb-100" id="testimonials" style="background-image: url(<%= image_url('product-bg-1.jpg') %>); background-position: center 20%">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box left">
                        <h2 class="white">People Show Love</h2>
                        <p class="sub-heading white">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-slider">
                        <div class="slider-items owl-carousel">
                            <div>
                                <div class="testimonial-box">
                                    <div class="testimonial-img">
                                        <%= image_tag("customer-2.jpg", class:"img-circle", alt:"")%>
                                    </div>
                                    <span class="testimonial-by">
                                        Callum Grant
                                    </span>
                                    <div class="testimonial-body">
                                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts.</p>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <div class="testimonial-box">
                                    <div class="testimonial-img">
                                        <%= image_tag("customer-1.jpg", class:"img-circle", alt:"")%>
                                    </div>
                                    <span class="testimonial-by">
                                        Jonathan Andre
                                    </span>
                                    <div class="testimonial-body">
                                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="pt-100 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Questions Often Asked</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel-group accordion" id="a1" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="a1heading1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#a1" href="#a1body1" aria-expanded="true" aria-controls="a1body1">
                                        <i class="ion-ios-toggle-outline"></i> How should I configure it correctly?
                                    </a>
                                </h4>
                            </div>
                            <div id="a1body1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a1heading1">
                                <div class="panel-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="a1heading2">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#a1" href="#a1body2" aria-expanded="false" aria-controls="a1body2">
                                      <i class="ion-ios-color-wand-outline"></i> What features does it offer over others?
                                    </a>
                                </h4>
                            </div>
                            <div id="a1body2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="a1heading2">
                                <div class="panel-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="a1heading3">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#a1" href="#a1body3" aria-expanded="false" aria-controls="a1body3">
                                      <i class="ion-ios-people-outline"></i> There is delay in my video playback?
                                    </a>
                                </h4>
                            </div>
                            <div id="a1body3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a1heading3">
                                <div class="panel-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="bgcolor3 pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Enter the virtual world of awesomeness.</h3>
                    <p class="nom">Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                </div>
                <div class="col-md-4">
                    <br>
                    <a href="" class="btn btn-primary btn-lg">Get Headset Now!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="pt-100 pb-80" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Our Dedicated Team</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member-box">
                        <%= image_tag("team-1.jpg", class:"img-rounded", alt:"")%>
                        <h6 class="heading">Nandy Puerto</h6>
                        <span class="text-muted">CEO, Ambar sysrems</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member-box">
                        <%= image_tag("team-2.jpg", class:"img-rounded", alt:"")%>
                        <h6 class="heading">Josh Harding</h6>
                        <span class="text-muted">Business Op, Ambar sysrems</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member-box">
                        <%= image_tag("team-3.jpg", class:"img-rounded", alt:"")%>
                        <h6 class="heading">Cameron Rowley</h6>
                        <span class="text-muted">Operations, Ambar sysrems</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member-box">
                        <%= image_tag("team-2.jpg", class:"img-rounded", alt:"")%>
                        <h6 class="heading">Harrison Walton</h6>
                        <span class="text-muted">Support, Ambar sysrems</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="pt-100 pb-100" style="background-image: url(<%= image_url('product-bg-2.jpg')%>); background-position: center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h3 class="white">Shoot us a Message</h3>
                    </div>
                    <p class="white">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                    <br/>
                    <form>
                        <div class="row">
                        <div class="form-group col-md-6">
                            <input class="form-control" id="example-text-input-inline" type="text" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control" id="example-text-input-inline" type="text" placeholder="Phone">
                        </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="example-text-input-inline" type="text" placeholder="Leave your message here">
                        </div>
                        <button class="btn btn-primary" type="submit">Contact</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div class="footer">
        <div class="footer-pri">            <!-- Primary Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-box about-box">
                            <%= image_tag("logo.png", alt:"")%>         <!-- Replace woth your logo -->
                            <br/><br/>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-box links-box">
                            <h5 class="heading">Quick Links</h5>
                            <ul>
                                <li><a href="">About the product</a></li>
                                <li><a href="">Usage Policies</a></li>
                                <li><a href="">How it works</a></li>
                                <li><a href="">Locate store</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-box social-box">
                            <h5 class="heading">Talk to us</h5>
                            <ul class="contact">
                                <li>+00 987654321</li>
                                <li>support@wwsthemes.com</li>
                            </ul>
                            <hr/>
                            <ul class="social">
                                <li><a href=""><i class="ion-social-facebook"></i></a></li>
                                <li><a href=""><i class="ion-social-twitter"></i></a></li>
                                <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                                <li><a href=""><i class="ion-social-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-sec">            <!-- Secondary Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="copyright">&copy; 2017. All rights reserved</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back To Top Button -->
    <a href="#home" id="backHome" class="scroll-link"><i class="ion-ios-home-outline"></i></a>
