<!-- Footer -->
<div class="footer">
    <div class="footer-pri">            <!-- Primary Footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-box about-box">
                        <%= image_tag("clarity-logo-sm.png", alt:"logo", class:"img-responsive", width:"200px")%>         <!-- Replace woth your logo -->
                        <br/><br/>
                        <p>“When disaster strikes, Clarity representatives are always nearby to offer a hands on approach, equipped with the best in class technologies, expertise and solutions for your clients.” - Justin Goethals President </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-box links-box">
                        <h5 class="heading">Quick Links</h5>
                        <ul>
                            <li><%= link_to "Information for Policy Holders", "https://www.fema.gov/information-policyholders", target:"_blank" %></li>
                            <li><%= link_to "NFIP Technical Support Hotline", "https://www.fema.gov/national-flood-insurance-program-technical-support-hotline", target:"_blank" %></li>
                            <li><%= link_to "Standard Flood Insurance Policy Forms", "https://www.fema.gov/national-flood-insurance-program/standard-flood-insurance-policy-forms", target:"_blank" %></li>
                            <li><%= link_to "Disaster Recovery Centers", "https://www.fema.gov/disaster-recovery-centers", target:"_blank" %></li>
                            <li><%= link_to "Information for Adjusters", "https://www.fema.gov/information-claims-adjusters", target:"_blank" %></li>
                            <li><%= link_to "National Flood Insurance Program", "https://www.fema.gov/National-Flood-insurance-program", target:"_blank" %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-box social-box">
                        <h5 class="heading">Talk to us</h5>
                        <ul class="contact">
                            <li>1 (877) 30-Clarity</br>
                            <small>1 (877) 302-5274</small></li>
                            <li>info@claimsclarity.com</li>
                        </ul>
                        <hr/>
                        <ul class="social">
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                            <li><a href=""><i class="ion-social-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sec">            <!-- Secondary Footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">&copy; 2017. All rights reserved</span>
                </div>
            </div>
        </div>
    </div>
</div>
