<!-- Footer -->
<div class="footer">
    <div class="footer-pri">            <!-- Primary Footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-box about-box">
                        <%= image_tag("clarity-logo-sm.png", alt:"logo", class:"img-responsive", width:"150px")%>         <!-- Replace woth your logo -->
                        <br/><br/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-box links-box">
                        <h5 class="heading">Quick Links</h5>
                        <ul>
                            <li><%= link_to "Policy Holders", "https://www.fema.gov/information-policyholders", target:"_blank" %></li>
                            <li><%= link_to "Disaster Emergency Communications", "https://www.fema.gov/disaster-emergency-communications", target:"_blank" %></li>
                            <li><%= link_to "Standard Flood Insurance", "https://www.fema.gov/national-flood-insurance-program/standard-flood-insurance-policy-forms", target: "_blank" %></li>
                            <li><%= link_to "National Flood Insurance", "https://www.fema.gov/National-Flood-insurance-program", target: "_blank" %></li>
                            <li><%= link_to "Disaster Recovery Centers", "https://www.fema.gov/disaster-recovery-centers", target: "_blank" %></li>
                            <li><%= link_to "Careers", "" %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-box social-box">
                        <h5 class="heading">Talk to us</h5>
                        <ul class="contact">
                            <li>1900mixalot</li>
                            <li>info@claimsclarity.com</li>
                        </ul>
                        <hr/>
                        <ul class="social">
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                            <li><a href=""><i class="ion-social-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sec">            <!-- Secondary Footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">&copy; 2017. All rights reserved</span>
                </div>
            </div>
        </div>
    </div>
</div>
