<!DOCTYPE html>
<html>
<head>
    <title>Clarity - Insurance Services</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.google.com/recaptcha/api.js' %>

</head>

<body>
    <%= yield %>

    <%= render "layouts/footer" %>
</body>
</html>
